---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Landing from '../components/Landing.astro';
import About from '../components/About.astro'
import Speed from '../components/Speed.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="LattePkg">
	<main>
		
		<Header />
		<Landing />
		<About />
		<Speed />
		<Footer />
	</main>
</Layout>


