<div class="px-4 sm:px-6 md:px-10 py-4">
    <div class="relative rounded-md w-full h-[350px] sm:h-[400px] md:h-[450px] flex justify-center items-center bg-cover bg-center" style="background-image: url('./noise.png');">
        <div class="absolute inset-0 bg-yellow-300 bg-opacity-90 rounded-md"></div>
        <div class="py-10 sm:py-14 md:py-20 relative text-center z-10">
            <h1 class="text-black font-bold text-3xl sm:text-4xl md:text-6xl py-2">
                About LattePkg
            </h1>
            <p class="text-gray-800 px-10 font-light text-base sm:text-lg md:text-2xl mt-4">
                LattePkg is a charming and functional package manager designed to make your software management delightful and visually appealing. With a focus on aesthetics and ease of use, LattePkg brings a touch of cuteness to your development workflow. 🌟
            </p>
        </div>
    </div>
</div>
