---

---

<footer class="bg-black text-white py-4">
  <div class="max-w-screen-xl mx-auto px-4 flex items-center justify-center">
    <img src="./logo.png" alt="LattePkg Logo" class="h-12 w-auto" />
    <p class="ml-4 text-center text-xl">
      LattePkg is currently in development. Stay tuned for updates!
    </p>
  </div>
</footer>
